@page "/cart"
@using OnlineShop.Frontend.Components;
@inherits AppComponentBase

<MudDrawerHeader Style="font-weight:bold;font-size:22px;margin-left:300px;">
    Корзина
</MudDrawerHeader>
@if (cartResponse is null)
{
    <div>Страница загружается...</div>
}
else
{
    @foreach (var product in cartResponse.Products)
    {
        <ProductCartItem Product="@product"/>
    }
}
