@page "/products/{ProductId:guid}/editor"
@using Microsoft.AspNetCore.Components;
@using OnlineShop.Frontend.Components;
@inherits AppComponentBase

<h1>Редактор товара</h1>
@if (_product is null)
{
    <div>Товар загружается</div>
}
else
{
    <MudItem xs="3" lg="3" Class="d-flex">
        <MudPaper Width="300px" Class="pa-4" Style="background-color:#6ec04a">
            <MudCard>
                <MudCardContent Style="min-height:100px">
                    <MudText>Название товара:</MudText>
                    <MudTextField @bind-Value="model.Name" Class="text" Style="background-color:white">
                    </MudTextField>
                    <MudText>Цена товара:</MudText>
                    <MudTextField @bind-Value="model.Price" Style="background-color:white"></MudTextField>
                    <MudText>Дата производства:</MudText>
                    <MudTextField @bind-Value="model.ProducedAt" Style="background-color:white"></MudTextField>
                    <MudText>Срок годности:</MudText>
                    <MudTextField @bind-Value="model.ExpiredAt" Style="background-color:white"></MudTextField>
                    <MudText>Описание:</MudText>
                    <MudTextField @bind-Value="model.Description" Style="background-color:white"></MudTextField>
                </MudCardContent>
            </MudCard>
        </MudPaper>
    </MudItem>
    <MudButton @onclick="SaveProductChanges" Variant="Variant.Filled"
           Style="background-color:#6ec04a;color:white;font-size:15px" Class="mt-4"
           StartIcon="@Icons.Material.Filled.Save">Сохранить</MudButton>
}
bnb,;36l