@page "/products/{ProductId:guid}"
@using MySupperShop.Components

@if (_product is null)
{
    <div>Загрузка товара...</div>
}
else
{
    <div>
        <ProductItem Product="_product" />
    </div>
}

